body {

    font-family: "Roboto", sans-serif;

}

#response-container {

}

#page-content {

    position: absolute;
    left: 250px;
    top: 0px;
    right: 0px;
    bottom: 0px;

    font-size: 20px;
    font-weight: bold;

    overflow: hidden;

    z-index: 1;

}

.page-title {

    margin: 12px;
    text-align: center;

}

.pdfobject-container {

    height: calc(100% - 48px);

}

#content-loading {

    width: 60px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

#content-loading > i {

    font-size: 60px;

}